* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('img/fond-page-ManuelUtilisation.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

.conteneur-manuel {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px 50px;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.manual p,
.manual ul {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: left;
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
  transform: scale(1.10);
}

li {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: left;
}